.nav,
.main {
  max-width: var(--max-width);
  min-width: 365px;
  margin: 0 auto;
}

.title {
  font-size: 35px;
}

.navButton,
.navLi {
  display: none;
}

.button {
  padding: 15px 34px;
  border-radius: 50px;
  background: linear-gradient(0.25turn, var(--lime-green), var(--bright-cyan));
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro_bg {
  width: 100%;
  background-image: url("/images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.mockups {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("/images/image-mockups.png");
  width: 331px;
  height: 288px;
}

@media screen and (min-width: 576px) {
  .intro_bg {
    background-image: url("/images/bg-intro-desktop.svg");
  }
}

@media screen and (min-width: 900px) {
  .intro {
    flex-direction: row-reverse;
  }

  .intro_bg {
    
  }

  .mockups {
    width: 431px;
    height: 388px;
  }
}
